In [3]:
print("hello world")

hello world

**STEP 1 Data Cleaning and Loading**

In [4]:
#Importing dependencies library

import pandas as pd

#my sql tootlkit
#pymysql
from sqlalchemy import create_engine

#postgre sql 
import psycopg2

In [5]:
df=pd.read_csv('Walmart.csv',encoding_errors='ignore')
df.shape

(10051, 11)

In [6]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [8]:
#finding duplicates
df.duplicated().sum()

np.int64(51)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
#finding the nulll values
df.isnull().sum()
#dropping the null values
df.dropna(inplace=True)

In [11]:
#identifying the data type 
df.dtypes
#here we can see that unit price has dat type object while it shoukd have the data type float

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [12]:
#changing the unit price typecasting it to float and also replacing the $ type to spacing nothing 

df['unit_price']=df['unit_price'].str.replace('$',' ').astype(float)

In [13]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [14]:
#to create a new column as total and unit price and quantity
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [15]:
# creating a new columns as total
df['total']=df['unit_price']*df['quantity']
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [16]:
#postegresql
#host='localhost'
#port='5432'
#database='walmart_db'
#user='postgres

In [17]:

#cleaned data export to csv
df.to_csv('walmart_cleaned.csv',index=False)

In [27]:
#psql connection establishment
engine_postgresql=create_engine('postgresql+psycopg2://postgres:admin1234@localhost:5432/walmart_db')

try:
    engine_postgresql
    print("connection to postgresql database established successfully")
except Exception as e:
    print("error while connecting to postgresql database",e)

connection to postgresql database established successfully

In [30]:
df.to_sql('walmart_db',con=engine_postgresql,if_exists='replace',index=False)

969

In [29]:
df.columns=df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')